.recommended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 20px 0;
}
.recommended-friends__title {
  font-size: 14px;
  color: var(--color-gray-1);
}
.recommended-friends span {
  display: flex;
  justify-content: center;
  color: var(--color-gray-2);
  margin: 90px 0px;
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--color-gray-1);
  margin: 15px 0px;
}

.open-chat__header span {
  color: var(--color-gray-2);
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.open-post__title {
  font-size: 18px;
}
.open-post__hashtags {
  text-transform: uppercase;
  color: var(--color-gray-2);
  margin: 10px 0px;
  font-size: 15px;
}
.open-post__members {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.open-post__members img {
  width: 18px;
  height: 18px;
  border-radius: 5px;
  margin-right: 8px;
}
.open-post__members-count {
  color: var(--color-gray-2);
}
.open-post__members .divider {
  width: 1px;
  height: 10px;
  background-color: var(--color-gray-2);
  margin: 0px 5px;
}
.open-post__members-status {
  color: #ff83cf;
}
.open-post__photo img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.open-post__heart-count {
  padding: 5px;
  background-color: var(--color-gray-1);
  color: white;
  font-size: 13px;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  bottom: 8px;
  right: 8px;
}

@keyframes heartbeatAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: scale(2);
    color: tomato;
  }
  100% {
    transform: none;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartbeatAnimation 1s linear infinite;
}

.open-post__photo {
  display: flex;
  position: relative;
}

.open-post__heart-count span {
  margin-left: 3px;
}
